{% extends "lab_8/layout/base.html" %}
{% block content %}
<div id="lab8">
    <div id="lab8-user"></div>
    <div class="col-md-8" align="right">
        <div id="lab8-post"></div>
    </div>
</div>
{% endblock %}
