{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image : url(https://orig10.deviantart.net/ae5f/f/2012/320/f/3/jack_frost_by_dashinghero-d5l7s9l.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size : cover;
        }
        #circle{
            border-radius:50% 50% 50% 50%;  
            width:200px;
            height:200px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    

    <!-- lab_4 css 
    <link href={ staticfiles "css/lab_4.css" %} rel="stylesheet">-->

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
