body{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #e6ecf0;
 }
 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 .user-info{
    margin-top: 10px;
    margin-right: 5px;
    background-color: white;
    padding: 10px;
 }
 .user-status{
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;
    padding: 10px;
}
.feed{
    background-color: white;
    margin-top: 2px;
    padding: 5px;
    min-width: 87vh;
}
@media only screen and(max-width:992px){
    .feed{
        min-width: 100%;
    }
}