{% extends "lab_4/layout/base.html" %}

{% block content %}
<center>
    <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/20139668_241848366326192_8707329452477556563_n.jpg?oh=4c0d9ff18938d5f662c1bd816a0d8ca7&oe=5A3A9384" id="circle"/>
    <h1>Made Wira Dhanar Santika</h1>
    <h2>Computer Science 2016</h2>
</center>
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
   <ul>
       {% for ii in about_me %}
       <li> {{ ii }} </li>
       {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}