body{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #e6ecf0;
 }
.cover {
    background: repeat;
    width: 100%;
    height: 500px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 .user-info{
    margin-top: 10px;
    margin-right: 5px;
    background-color: white;
    padding: 10px;
 }
 .user-status{
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;
    padding: 10px;
}
.feed{
    word-break: break-all;
    background-color: white;
    margin-top: 2px;
    padding: 5px;
}
.col-md-8{
    min-width: 87vh;
}
.col-md-6{
    min-width: 87vh;
}
@media only screen and (min-width: 768px) and (max-width:1024px) {
    .col-md-8{
        min-width: 65vh;
    }
    .col-md-6{
        min-width: 65vh;
    }
  }  
@media only screen and (min-width: 1024px) and (max-width:1366px) {
    .col-md-8{
        min-width: 80vh;
    }
    .col-md-6{
        min-width: 80vh;
    }
    h1{
        font-size: 28px;
    }
    h3{
        font-size: 20px;
    }
    body{
        margin-right: 30px;
        margin-left: 30px;
    }
  }
@media only screen and (min-width: 320px) and (max-width:425px) {
    body{
        margin-left: 5px;
        margin-right: 5px;
    }
    .col-md-8{
        min-width: 50vh;
    }
    .col-md-6{
        min-width: 50vh;
    }
  }  