{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:friend-list' %}",
                success: function (response) {
                    var list = JSON.parse(response);
                    if(list.length==0){
                        $("#friend-list").append('<div class="alert alert-danger text-center"><strong>Oops!</strong> Tidak ada teman</div>');
                    }else{
                        $.each(list,function(index,friend){
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix col-md-8 col-md-offset-2">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' + button + '</a>';
                            $("#friend-list").append(html);
                        });
                    }
                },
                error: function(error){
                    alert("Terjadi error");
                }
            });
        });
    var deleteFriend = function(pk) {
        window.open('../delete-friend/'+pk+'/', '_self');        
    };
    </script>
{% endblock %}
